<div class="mobile-bottom-nav">
    <a href="/" class="mobile-nav-item">
        <svg viewBox="0 0 24 24">
            <path
                d="M9.005 16.545a2.997 2.997 0 012.997-2.997h0a2.997 2.997 0 012.997 2.997v5.449c0 .412.333.746.746.746h3.253a2.997 2.997 0 002.997-2.997v-8.086c0-.528-.216-1.033-.598-1.398l-7.467-7.143a2.43 2.43 0 00-3.372 0l-7.467 7.143a1.995 1.995 0 00-.598 1.398v8.086c0 1.655 1.342 2.997 2.997 2.997h3.253a.746.746 0 00.746-.746v-5.449z"
                fill="currentColor"></path>
        </svg>
    </a>
    <a href="javascript:void(0)" class="mobile-nav-item" onclick="openModal()">
        <svg viewBox="0 0 24 24">
            <path
                d="M2 12c0 5.523 4.477 10 10 10s10-4.477 10-10S17.523 2 12 2 2 6.477 2 12zm10 5a1 1 0 01-1-1v-3H8a1 1 0 010-2h3V8a1 1 0 012 0v3h3a1 1 0 010 2h-3v3a1 1 0 01-1 1z"
                fill="currentColor"></path>
        </svg>
    </a>
    <a href="/user/<%= user._id %>" class="mobile-nav-item">
        <svg viewBox="0 0 24 24">
            <path
                d="M12 2.5a5.5 5.5 0 105.5 5.5 5.506 5.506 0 00-5.5-5.5zm0 9a3.5 3.5 0 113.5-3.5 3.504 3.504 0 01-3.5 3.5zm7.394 6.136a8.52 8.52 0 00-14.788 0 .75.75 0 101.3.75 7.02 7.02 0 0112.188 0 .75.75 0 001.3-.75z"
                fill="currentColor"></path>
        </svg>
    </a>
    <a href="/settings" class="mobile-nav-item">
        <svg viewBox="0 0 24 24">
            <path
                d="M19.336 10.1c.143.593.214 1.205.214 1.83a8.5 8.5 0 01-14.788 5.636 1 1 0 10-1.3 1.514A10.5 10.5 0 1021.55 11.93c0-.853-.087-1.686-.253-2.492a1 1 0 00-1.96.662zM12 7.5a4.5 4.5 0 11-4.5 4.5 4.5 4.5 0 014.5-4.5zm0 7a2.5 2.5 0 10-2.5-2.5 2.5 2.5 0 002.5 2.5z"
                fill="currentColor"></path>
        </svg>
    </a>
</div>